{
  "presets": ["@babel/preset-react", "@babel/typescript"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      { "ssr": true, "preprocess": false, "pure": true, "minify": true }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": { "version": 3 }
      }
    ],
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-export-default-from",
    "lodash"
  ]
}
